@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  margin-left: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 500;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: black;
  margin: 0;
}

a {
  color: inherit;
}

/* Button  */

.btn-modal {
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #ccc;
  width: 250px;
}

.btn-modal:hover {
  background-color: #c7a1f5;
}

.buttons {
  position: relative;
}

/* Modal */

.wrapper {
  position: relative;
  min-height: 100vh;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-modal {
  position: absolute;
  top: -160px;
  color: #000;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}

/* Game grid - Ania Kubow tutorial, adjusted the height and width to make the squares bigger */
.grid {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.grid div {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hidden {
  display: none;
}



/* Contact form  */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #c7a1f5;
}

input[type=submit] {
  background-color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-container {
  border-radius: 5px;
  /* display: block; */
  /* margin: auto; */
 
}

.col-75 {
  width: 75%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-75, input[type=submit] {
    width: 100%;
    margin-top: 3px;
  }
}


header {
  position: absolute;
}






