@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  margin-left: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Poppins", sans-serif;
}


body {
  font-weight: 500;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: black;
  margin: 0;
}

a {
  color: inherit;
}

/* How to play Modal  */

.btn-modal {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  border: none;
  width: 200px;
}

.btn-modal:hover {
  background-color: #c7a1f5;
}

.buttons {
    position: relative;
  }

/* ------------------------------ */

.wrapper {
  position: relative;
  min-height: 100vh;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-modal {
  position: absolute;
  top: -160px;
  color: #000;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}



.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}


/* Game grid */
.grid div {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hidden {
  display: none;
}
